@font-face {
  font-family: 'SCDream';
  src: url('../font/S-Core_Dream_OTF/web_font/S-CoreDream.eot');
  src: url('../font/S-Core_Dream_OTF/web_font/S-CoreDream.eot?#iefix') format('embedded-opentype'),
       url('../font/S-Core_Dream_OTF/web_font/S-CoreDream.svg#S-CoreDream-3Light') format('svg'),
       url('../font/S-Core_Dream_OTF/web_font/S-CoreDream.ttf') format('truetype'),
       url('../font/S-Core_Dream_OTF/web_font/S-CoreDream.woff') format('woff'),
       url('../font/S-Core_Dream_OTF/web_font/S-CoreDream.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

