/* main_color 지정 */
/* test_color : #7d0000, #015485, #77dd00 */

/* main_background_color */
.button,
input[type="radio"]:checked + label,
.select_time .time input[type="checkbox"]:checked + label,
footer .bottom,
.modal_custom .ui-widget-content button,
.only_mobile .fix_btn_group>div,
.check_agree input[type="checkbox"]:checked + label{
    background-color: #642EFE;
}

/* main_text_color */
.select_time .time input[type="checkbox"] + label,
.check_agree input[type="checkbox"] ~ span>.point,
.check_agree input[type="checkbox"] ~ span>a:link,
.check_agree input[type="checkbox"] ~ span>a:visited,
.check_agree input[type="checkbox"] ~ span>a:hover,
.check_agree input[type="checkbox"] ~ span>a:active,
.check_agree input[type="checkbox"] ~ span>.point,
header nav ul li:hover,
section.contents.main .wrap .container .room_price_sec>div .type_price .type_now_price .now_price,
section.contents.reserve_room .wrap .container>section.add_price_section .row .value,
section.contents.reserve_room .wrap .side>.contents>.reserve_info>section:last-child .row .right,
section.contents.reserve_room .wrap .side>.contents>.mobile_final_price .row>.right,
section.contents.reserve_finish .wrap section .row .value.emphasis,
section.contents.reserve_room .wrap .container>.check_date_section .time_range,
section.contents.reserve_room .wrap .container>.check_date_section .time_sum,
.only_mobile section.content.detail_view section .price .now::before{
    color: #642EFE;
}

/* main_border_color */
.select_time .time input[type="checkbox"] + label,
.select_time .time input[type="checkbox"]:checked + label,
.check_agree input[type="checkbox"]:checked + label{
    border-color: #642EFE;
}